// $h1-size: 24rem;
// $h2-size: 20rem;
// $regular-size:14rem;

$h1-size: 1.6rem;
$h2-size: 1.2rem;
$regular-size: 1rem;
$brand-color:#42ab9e;

body {
  font-family: helvetica;
  font-size: 10px;
  margin: 0px;
}
h1, h2, h3 {
  margin: 1rem 0;
  font-size: $h1-size;
  font-weight: 100;
}

p {
  font-size: $regular-size;
  text-align: center;
}
section {
  padding: 2rem 1rem;
  box-sizing: border-box;
}

a {
  color: $brand-color;
  text-decoration: none;
  font-size: $regular-size;
}

@import "./partials/intro";
@import "./partials/nav_button";
@import "./partials/about";
