$h1-size: 3rem;
$h2-size: 2rem;
$regular-size: 1.6rem;
$brand-color: #42ab9e;
$secondary-color: #ACD7EC;
$gray-color: #979797;

html {
  font-size: 10px;
}

body {
  font-family: helvetica;
  margin: 0px;
}
h1, h2 {
  margin: 2rem 0;
  font-size: $h1-size;
  font-weight: 100;
}
h3 {
  font-size: 1.2rem;
  font-size: $h2-size;
  font-weight: 100;
}

p {
  font-size: $regular-size;
  font-weight: 100;
  text-align: center;
}
section {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

a {
  color: $brand-color;
  text-decoration: none;
  font-size: $regular-size;
}

@import "./partials/intro";
@import "./partials/nav_button";
@import "./partials/about";
@import "./partials/card";
@import "./partials/projects";
@import "./partials/skills";
@import "./partials/footer";