section.intro {
  height: 100vh;
  a {
    font-size: $h1-size;
  }
  img {
    width: 12rem;
  }
  button {
    font-size: $h2-size;
    border: none;
    border-bottom: 2px solid $brand-color;
    background-color: transparent;
    padding: 0.6rem 1.7rem;
    font-weight: 100;
  }
}
