nav {
  display: none;
  padding: 1rem;
  width: 100%;
  background: #FFF;
}
@media (min-width: 700px) {
  section.home{
    nav {
      display: flex;
      justify-content: center;
      &.nav-fixed{
      position: fixed;
      top: 0px;
      }
      a{
        text-transform:capitalize;
        font-size: $h2-size;
        padding: 0 2rem;
        border-right: 1px solid $brand-color;
        &:last-child {
          border-right: none;
        }
        &:hover {
          color: $brand-color;
          cursor: pointer;
        }
      }

    }
  }
}