section.projects {
  display: flex;
  padding: 0;
  background-color: $gray-color;

  h2 {
    margin-top: 6rem;
  }
}

@media (min-width:700px) {
  section.projects {
    div.articles {
      margin: 8rem;
      display: flex;
      flex-wrap: wrap;

      article {
        max-width: 40vw;
      }
    }
  }
}